@model mystore1.Models.Product
<head>
    <style>
        img {
            height: 250px;
            max-width: 250px;
        }
    </style>
</head>
<div class="container-fluid">

    <hr />
    <div class="div-horizontal">
        <div class="col-md-4">
            <img src=" @Html.DisplayFor(model => model.ProductImage)" />
        </div>
        <div class="col-md-8">
            <dl>
                <dt>
                    TÊN SẢN PHẨM
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductName)
                </dd>

                <dt>
                    MÔ TẢ
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductDescription)
                </dd>

                <dt>
                    ĐƠN GIÁ
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductPrice)
                </dd>



                <dt>
                    SẢN PHẨM THUỘC DANH MỤC
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Category.CategoryName)
                </dd>

                <dt class="padding:10px"></dt>

            </dl>
        </div>

    </div>
</div>
